* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.container {
  width: 1140px;
  margin: auto;
}

/*******************************
Header 
********************************/

/****** nav menu******/
.header {
  width: 100%;
  height: 100vh;
  background-image: url("../Images/banner1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
}
.logo {
  margin-left: 55px;
}
.menu {
  margin-right: 50px;
  text-align: right;
  margin-top: -10px;
}
.menu-upper {
  margin-bottom: 30px;
}
.menu-upper img {
  vertical-align: middle;
}
.menu-upper span {
  margin-left: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 20.83px;
  color: #3d2514;
  font-weight: 700;
  vertical-align: middle;
}

.menu-list ul li {
  list-style: none;
  display: inline-block;
  margin-left: 55px;
}
.menu-list ul li a {
  font-family: "Bebas Neue", cursive;
  font-size: 16.67px;
  color: #3d2514;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
  transition: all 0.25s linear;
}
.menu-list ul li a:hover {
  color: #663d00;
  color: crimson;
  letter-spacing: 6px;
  transition: all 0.2s ease-in-out;
  border-bottom: 1px ridge red;
}

/****** banner content ******/
.banner {
  height: 70vh;
  display: table-cell;
  vertical-align: middle;
}
.banner p {
  font-family: "Bebas Neue", cursive;
  color: #3d2514;
  font-size: 23.65px;
  border: 2px dashed #3d2514;
  display: inline-block;
  padding: 13px 18px;
  margin-left: 60px;
}
.banner h1 {
  font-family: "Alfa Slab One", cursive;
  color: #3d2514;
  font-size: 114.3px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 3.5px 3.5px 3px white;
  margin-left: 60px;
}
.banner h3 {
  font-family: "Alfa Slab One", cursive;
  color: #3d2514;
  font-size: 56.49px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 3.5px 3.5px 3px white;
  margin-left: 60px;
}

/************************************
Body section
*************************************/

/**********************
Body 1
***********************/
.body1 {
  width: 100%;
  padding: 100px 0px 0px 0px;
}
.category {
  display: flex;
  width: 100%;
}

/*cat left section*/
.left {
  width: 50%;
  margin-right: 0px;
  position: relative;
}
.left img {
  width: 100%;
}
.img__desc {
  position: absolute;
  top: 40px;
  left: 40px;
}
.img__desc h3 {
  font-family: "Bebas Neue", cursive;
  color: #fffffb;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: -8px;
}
.img__desc h1 {
  font-family: "Bebas Neue", cursive;
  color: #fffffb;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 2px;
}
.h {
  line-height: 20px;
}

/*cat right section*/
.right {
  padding-left: 40px;
  width: 50%;
  position: relative;
}
.right img {
  width: 100%;
}
.right-top {
  margin-bottom: 30px;
  position: relative;
}
.right-bottom {
  position: relative;
}
.right-top .img__desc {
  position: absolute;
  top: 20px;
  left: 20px;
}
.right-bottom .img__desc {
  position: absolute;
  top: 20px;
  left: 20px;
}

/*button - tasty*/
.button1 {
  width: 100%;
  margin-top: 70px;
}
.button1 button {
  padding: 16px 32px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  background-color: #ffc045;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: #3d2514;
  margin: 0 auto;
  cursor: pointer;
  height: 50px;
  width: 218px;
  border: none;
  transition: all 0.25s ease-in-out;
}
.button1 button:hover {
  background-color: #3d2514;
  text-align: center;
  border: none;
  border-radius: 50px;
  color: #ffc045;
  font-weight: 700;
  font-size: 18px;
  justify-content: center;
  transition: 0.5s ease-in;
}

/*plain-text*/
.plain-text {
  margin: 0 auto;
  text-align: center;
}
.plain-text h1 {
  font-family: "Alfa Slab One", cursive;
  font-size: 50px;
  text-transform: uppercase;
  color: #3d2514;
  font-weight: 400;
  margin: 40px 0px 30px 0px;
}
.plain-text p {
  font-family: "Montserrat", sans-serif;
  font-size: 16.67px;
  color: #3d2514;
  font-weight: 500;
  line-height: 25px;
  margin-top: 2px;
}

/**********************
Body 2
***********************/
.body2 {
  width: 100%;
}
.gallery {
  display: flex;
  margin-top: 65px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.item {
  text-align: center;
  padding: 0px 5px;
}
.item img {
  width: 100%;
  /* width: 390px;
  height: 360px; */
}
.burgerimg {
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item h1 {
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
  color: #3d2514;
  font-size: 16.67 px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}
.item p {
  font-family: "Montserrat", sans-serif;
  color: #3d2514;
  font-size: 37.5 px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 35px;
}
.item button {
  padding: 20px 38px 14px 38px;
  background-color: #cc0000;
  color: white;
  font-family: "Alfa Slab One", cursive;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  transition: 0.25s linear;
}

.item button:hover {
  background-color: white;
  color: #cc0000;
  border: 2px inset #cc0000;
  border-radius: 50px;
  transition: 0.5s ease-out;

  cursor: pointer;
}

/**********************
Slider
***********************/
.slider {
  width: 100%;
  padding: 155px 0px 130px 0px;
}
.slider-content {
  width: 100%;
  display: flex;
  padding: 30px;
  box-shadow: 10px 10px 24px -4px rgb(0, 0, 0, 0.2);
}
.slider__left {
  width: 50%;
}
.slider__text {
  margin-right: 25px;
}
.slider__text h3 {
  font-family: "Bebas Neue", cursive;
  font-weight: 700;
  font-size: 30px;
  color: #3d3d3d;
  line-height: 17px;
  text-transform: uppercase;
}
.slider__text h1 {
  font-family: "Alfa Slab One", cursive;
  font-weight: 400;
  font-size: 42px;
  color: #3d2514;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.slider__text p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #3d3d3d;
}
.slider__dot {
  margin-top: 90px;
}

.slider__right {
  width: 50%;
}

/**********************
Contact form
***********************/
.burgerform {
  width: 100%;
  height: 100vh;
  background-image: url("../Images/b4 background2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.form {
  widows: 100%;
  padding: 0px 0px 80px 0px;
  text-align: center;
}
.form__list {
  margin: 0 auto;
}
input {
  width: 380px;
  height: 65px;
  margin: 0px;
  border: 1px solid #bebebe;
  border-radius: 5px;
}

.form h3 {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-size: 30px;
  color: #3d2514;
  text-transform: uppercase;
  line-height: 25px;
}

.form h1 {
  font-family: "Alfa Slab One", cursive;
  font-weight: 400;
  font-size: 50px;
  color: #3d2514;
  text-transform: uppercase;
  margin-bottom: 90px;
}

form .line1 {
  display: flex;
  justify-content: center;
}
form .line2 {
  display: flex;
  justify-content: center;
}
form .line3 {
  display: flex;
  justify-content: center;
}
/* .line3 input {
  width: 400px;
  height: 65px;
  margin: 0px;
  border: 1px solid #bebebe;
  border-radius: 5px;
} */

.form__left {
  float: left;

  margin-right: 30px;
  margin-bottom: 30px;
  font-family: georgia;
  text-indent: 25px;
  font-size: 14px;
  font-weight: 400;
  color: #717171;
}
.form__right {
  float: right;

  font-family: georgia;
  text-indent: 25px;
  font-size: 14px;
  font-weight: 400;
  color: #717171;
}

.line3 button {
  background-color: #cc0000;
  color: white;
  font-family: "Alfa Slab One", cursive;
  font-weight: 300;
  font-size: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid black;
  width: 380px;
  height: 65px;
  /* width: 400px; */
  /* height: 65px; */
  text-align: center;
  justify-content: center;
  /* margin-top: 30px; */
  transition: 0.25s linear;
}

.burgerform button:hover {
  background-color: transparent;
  color: #cc0000;
  border: 1px solid #cc0000;
  border-radius: 40px;
  transition: 0.5s ease-out;

  font-size: 25px;
  cursor: pointer;
}
.form__list ::placeholder {
  font-family: "Bebas Neue", cursive;
  color: #717171;
  font-weight: 400;
  font-size: 21px;
  text-indent: 25px;
}

.form__list :focus {
  outline: 0px;
  background: transparent;
  color: black;
}

/**********************
Footer
***********************/
.footer {
  width: 100%;
}
.footer__content {
  width: 100%;
  height: 455px;
  background-image: url("../Images/Footer.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 65px;
  color: white;
  display: flex;
  justify-content: space-between;
}

/******footer left******/
.footer__left {
  width: 50%;
  margin: 80px 0px 0px 45px;
}

.footer__left .logo {
}
.footer__left .logo img {
  margin-left: -55px;
}

.footer__left .footer__para {
  margin: 45px 100px 110px 0px;
}
.footer__left .footer__para p {
  text-align: justify;
  color: rgb(255, 255, 255, 0.75);
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.footer__left .copyright {
}
.footer__left .copyright p {
  text-align: left;
  color: rgb(255, 255, 255, 0.8);
  font-family: "Bebas Neue", cursive;
  font-size: 16.67px;
  font-weight: 300;
  letter-spacing: 0.05px;
}

/******footer right******/
.footer__right {
  width: 50%;
  margin-top: 240px;
}

.footer__right .address {
  margin-left: 165px;
  margin-top: -33px;
}
.footer__right .address .footer__address {
  display: flex;
  margin-bottom: 12px;
}
.footer__right .address .footer__address img {
  vertical-align: middle;
}
.footer__right .address .footer__address p {
  text-align: left;
  color: rgb(255, 255, 255);
  font-family: "Bebas Neue", cursive;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.05px;
  margin-left: 30px;
  vertical-align: middle;
}
.footer__right .address .footer__mail {
  display: flex;
}
.footer__right .address .footer__mail img {
  vertical-align: middle;
}
.footer__right .address .footer__mail p {
  text-align: left;
  color: rgb(255, 255, 255);
  font-family: "Bebas Neue", cursive;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.05px;
  margin-left: 30px;
  vertical-align: middle;
}

.footer__right .social__icon {
  margin: 120px 30px 20px 320px;
}
.footer__right .social__icon ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
.footer__right .social__icon ul li a i {
  color: black;
  height: 30px;
  width: 30px;
  background-color: white;
  text-align: center;
  line-height: 30px;
  border-radius: 100%;
  border: 1.5px solid white;
  transition: 1.5s linear;
}
.footer__right .social__icon ul li a i:hover {
  border: 0.25px solid #cc0000;
  background-color: gold;
  color: #cc0000;
  transform: scale(1.5);
  transition: all 1s cubic-bezier(1, -1.4, 0, 2.2);
}

@media (max-width: 800px) {
  html {
    box-sizing: border-box;
  }
  .container {
    width: 100%;
    margin: auto;
  }
  .slider-content {
    width: 100%;
  }
}
